.service-section{
    padding:80px 0;
    background-color: #fff;
    position: relative;
    .container{
        img{
            width:100%;
        }
        h3{
            color:#006B4E;
        }
        p{
            font-size: 15px;
            color:#00000085;
        }
        .windmill{
            position: absolute;
            width:250px;
            right:0;
            bottom:0;
        }
    }
}
.bg-grey{
    background-color: #F8F8F8;
}

@media (max-width:991px) {
    .service-section{
        img{
            margin-bottom: 20px;
        }
    }
}